@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic);

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1397px;
  margin: auto;
  height: auto;
  border: 1px solid #000;
  background: #FFF;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  border-bottom: 1px solid #000;
}

.header-button {
  background: #FB4B4D;
  border: none;
  padding: 15px 44px;
  color: #FFF;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 21.6px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  cursor: pointer;
}

.header-list {
  display: flex;
  align-items: center;
  list-style: none;
}

.header-list-item {
  color: #222;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 21.6px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
}

.header-list li:not(:last-child) {
  margin-right: 150px;
}

.header-center {
  display: flex;
  align-items: center;
}

.circle {
  width: 17px;
  height: 17px;
  border-radius: 50%;
  border: 1px solid #000;
  display: inline-block;
}

.left-circle {
  background-color: #FB4B4D;
  margin-right: 30px;
}

.right-circle {
  background-color: #8B83F6;
  margin-left: 30px;
}

.hero {
  display: flex;
  align-items: center;
}

.left-block {
  display: flex;
  flex-direction: column;
  max-width: 698px;
  min-height: 990px;
  border-right: 1px solid #000;
}

.left-image-block {
  position: relative;
  max-width: 698px;
  min-height: 425px;
}

.logo-left-bg {
  position: absolute;
  top: 20px;
  left: 20px;
  right: 20px;
  bottom: 20px;
}

.logo-left {
  position: absolute;
  top: 60px;
  left: 60px;
  right: 60px;
  bottom: 60px;
  z-index: 1;

}

.promo {
  display: flex;
  align-items: center;
  padding: 25px;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  overflow: hidden;
  width: 100%;
  white-space: nowrap;
}

.promo-container {
  display: flex;
  align-items: center;
  animation: promo-animation 5s linear infinite;
}

.promo-text {
  display: inline-block;
  min-width: 262px;
  color: #000;
  text-align: center;
  font-family: 'Roboto';
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 25.92px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  margin-right: 28px;
  white-space: nowrap;
}

.promo-image {
  margin-right: 28px;
  white-space: nowrap;
}

@keyframes promo-animation {
  0% {
    transform: translateX(100%);
  }

  50% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-100%);
  }
}

.left-image {
  padding: 20px;
}

.right-block {
  display: flex;
  max-width: 697px;
  min-height: 233px;
  flex-direction: column;
}

.right-title {
  color: #000;
  border-bottom: 1px solid #000;
  padding: 24px 80px 15px;
  text-align: center;
  font-family: 'Roboto';
  font-size: 58px;
  font-style: normal;
  font-weight: 400;
  line-height: 64.512px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}

.right-image {
  padding: 20px;
}

.call-block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 60px;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
}

.call-block-title {
  color: #000;
  text-align: center;
  font-family: 'Roboto';
  font-size: 65px;
  font-style: normal;
  font-weight: 400;
  line-height: 72.576px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}

.card-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.card {
  width: 437px;
  position: relative;
  overflow: hidden;
  margin: 20px auto;
}

.card-image img {
  width: 100%;
  height: auto;
  position: relative;
  z-index: 1;
}

.card-content {
  position: absolute;
  bottom: 23px;
  left: 23px;
  right: 23px;
  padding: 20px;
  text-align: center;
  z-index: 2;
}

.card-content img {
  max-width: 100%;
  height: auto;
  border-radius: 14.4px;
  border: 1px solid #000;
}

.card-title-s {
  position: absolute;
  top: 130px;
  left: 120px;
  right: 120px;
  color: #000;
  text-align: center;
  font-family: 'Roboto';
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28.08px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  z-index: 2;
}

.card-title-m {
  position: absolute;
  top: 172px;
  left: 40px;
  right: 40px;
  color: #000;
  text-align: center;
  font-family: 'Roboto';
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 38.016px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  z-index: 2;
}