@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic);

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1397px;
  margin: auto;
  height: auto;
  border: 1px solid #000;
  background: #FFF;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  border: 1px solid #000;
}

.header-button {
  background: #FB4B4D;
  border: none;
  padding: 15px 44px;
  color: #FFF;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 21.6px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  cursor: pointer;
}

.header-list {
  display: flex;
  align-items: center;
  list-style: none;
}

.header-list-item {
  color: #222;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 21.6px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
}

.header-list li:not(:last-child) {
  margin-right: 150px;
}

.header-center {
  display: flex;
  align-items: center;
}

.circle {
  width: 17px;
  height: 17px;
  border-radius: 50%;
  border: 1px solid #000;
  display: inline-block;
}

.left-circle {
  background-color: #FB4B4D;
  margin-right: 30px;
}

.right-circle {
  background-color: #8B83F6;
  margin-left: 30px;
}

.hero {
  display: flex;
  align-items: center;
}

.left-block {
  display: flex;
  flex-direction: column;
  max-width: 698px;
  min-height: 990px;
  border: 1px solid #000;
}

.left-image-block {
  position: relative;
  max-width: 698px;
  min-height: 425px;
}

.logo-left-bg {
  position: absolute;
  top: 20px;
  left: 20px;
  right: 20px;
  bottom: 20px;
}

.logo-left {
  position: absolute;
  top: 60px;
  left: 60px;
  right: 60px;
  bottom: 60px;
  z-index: 1;

}

.promo {
  display: flex;
  align-items: center;
  padding: 25px;
  border: 1px solid #000;
  overflow: hidden;

}

.promo-container {
  display: flex;
  align-items: center;
  white-space: nowrap;
}

.promo-text {
  display: inline-block;
  min-width: 262px;
  color: #000;
  text-align: center;
  font-family: 'Roboto';
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 25.92px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  margin-right: 28px;

}

.promo-image {
  margin-right: 28px;
  white-space: nowrap;
}


.left-image {
  width: 657px;
  height: 436px;
  margin: auto;
}

.right-block {
  display: flex;
  max-width: 697px;
  min-height: 233px;
  flex-direction: column;
  border: 1px solid #000;
}

.right-title {
  color: #000;
  border: 1px solid #000;
  padding: 24px 80px 15px;
  text-align: center;
  font-family: 'Roboto';
  font-size: 58px;
  font-style: normal;
  font-weight: 400;
  line-height: 64.512px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}

.right-image {}